button, div, form, input {
      margin: 10px;
    }

button {
    width: 100px;
    background: #80ced6;
}

input {
    width: 100%;
}

#add-animal {
    background: #80ced6;
}

h4 {
    text-align: center;
}

.text-box {
    border: 10px;
    border-style: solid;
    border-color: #80ced6;
}